*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #e9ecef;
  font-family: "Roboto", sans-serif;
}
.container {
  margin-top: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
}
.container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #1c7ed6;
}
.faq {
  background-color: #fff;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.caret-left {
  width: 32px;
  height: auto;
  stroke: #137645;
}
.caret-left-01 {
  margin-left: 135px;
}

.caret-left-02 {
  margin-left: 100px;
}
.caret-left-03 {
  margin-left: 79px;
}
span {
  font-size: 24px;
  color: #c2c7c7;
  margin-right: 18px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  color: #495057;
}

.description {
  padding: 7px 80px;
  line-height: 1.7;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: -15px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}
.description p {
  margin-bottom: 20px;
}

.description ul {
  margin-bottom: 20px;
  color: #5c5f62;
  line-height: 1.7;
}
.deactive {
  display: none;
}

.active {
  border-top: 4px #137645 solid;
  display: flex;
}

.active h2 {
  color: #137645;
}

.active span {
  color: #137645;
}

.faq a {
  text-decoration: none;
  color: #137645;
}
