*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9ecef;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}
.container {
  margin: 100px auto;
  width: 780px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #1c7ed6;
}

.faq {
  background-color: #fff;
  padding: 25px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.hidden-description {
  grid-column: 2;
  display: none;
}

.hidden-description p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.hidden-description ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 20px;
}

span {
  font-size: 24px;
  color: #c2c7c7;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  color: #495057;
}

.active {
  border-top: 4px #137645 solid;
}
.active .hidden-description {
  display: block;
}
.active h2,
.active span {
  color: #137645;
}

.faq a {
  text-decoration: none;
  color: #137645;
}
